<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050092730433-t8k7o1kee15sctb7vk8thcjum7s4rlst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050092730433-t8k7o1kee15sctb7vk8thcjum7s4rlst</string>
	<key>API_KEY</key>
	<string>AIzaSyCv4rdT_wGA2H8ar1fjK2jRNKO1wRiEOQI</string>
	<key>GCM_SENDER_ID</key>
	<string>1050092730433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GGG.Taste-Haven</string>
	<key>PROJECT_ID</key>
	<string>taste-haven</string>
	<key>STORAGE_BUCKET</key>
	<string>taste-haven.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050092730433:ios:a4ad75e488e9ec1d5b6ec0</string>
</dict>
</plist>